* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --compose-bg: #282e4b;
  --messages-bg: #202640;
  --chat-welcome: #5381c7;
  --location: #6794d6;
  --chat-side: #eee;
  --chat-title: #b6d3ff;
  --chat-title-bg: #282e4b;
  --list-title: #ccc;
  --chat-side-bg: #333744;
  --button-bg: rgb(64, 64, 152);
  --button-bg-hover: rgb(88, 88, 176);
  --button-bg-disabled: rgba(0, 0, 0, .3);
  --button-leave: #264471;
  --button-share-hover: #202640;
  --error-message: #fa80728a;
}

html {
  font-size: 3vmin;
}

body {
  line-height: 4vmin;
  color: #333333;
  font-family: Helvetica, Arial, sans-serif;
}

input {
  font-size: 2.5vmin;
  border: .15vmin solid #eeeeee;
  padding: 1vmin 2vmin;
  outline: none;
}

h1 {
  margin-bottom: 2vmin;
  text-align: center;
  font-size: 6vmin;
}

label {
  display: block;
  font-size: 2vmin;
  margin-bottom: .2vmin;
  color: #055;
}

button {
  cursor: pointer;
  padding: 1vmin 2vmin;
  background: var(--button-bg);
  border: none;
  color: white;
  font-size: 3vmin;
  transition: all .3s ease;
}

button:hover {
  background: var(--button-bg-hover);
}

button:disabled {
  cursor: default;
  color: #bbb;
  background: var(--button-bg-disabled);
}

ul {
  list-style-type: none;
}

/* form {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
} */

/* Join Page Styles */
.icon-location {
  height: 5vmin;
  width: 5vmin;
}

.centered {
  background: #333333;
  width: 100vw;
  height: 100vh;   
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-box {
  box-shadow: 0px 0px 17px 1px #1D1F26;
  background: rgb(81, 131, 192);
  padding: 3vmin;
  width: 40vmin;
}

.centered button {
  font-weight: 500;
  margin-top: 1vmin;
  width: 100%;
}

.centered label {
  display: block;
  font-size: 2.5vmin;
  margin-bottom: .2vmin;
  color: rgb(25, 75, 96);
}

.centered input {
  margin-bottom: 2vmin;
  width: 100%;
}


/* Chat Page Layout */

.chat {
  display: flex;
}


/* Chat Sidebar Styles */

.chat-side {
  display: flex;
  flex-flow: column nowrap;
  flex-grow: 1;
  justify-content: space-between;
  height: 100vh;
  max-height: 100vh;
  color: var(--chat-side);
  background: var(--chat-side-bg);
  max-width: 30vmin;
  user-select: none;
}

.chat-info {
}

.room-title {
  text-align: center;
  font-size: 3.5vmin;
  font-weight: 400;
  color: var(--chat-title);
  background: var(--chat-title-bg);
  padding: 3vmin;
}

.list-title {
  text-align: center;
  font-size: 2.7vmin;
  font-weight: 500;
  padding: 2vmin 0 1.5vmin 0;
  color: var(--list-title);
  background-color: rgba(0, 0, 0, .1);
}

.users {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  height: 100%;

  padding: 2vmin 2vmin 0 3vmin;
  
  overflow-y: auto;
}

.user-list-item {
  font-size: 2.5vmin;
}

.chat-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 2.5vmin; */
  height: 15vmin;
  justify-content: center;
  background: rgba(0, 0, 0, .1);
}

.chat-control {
  display: flex;
  flex-grow: 1;
}



@keyframes animateLeave {
  from {
    padding: 1vmin;
    font-size: 3vmin;
  }

  25% {
    font-size: 2.5vmin;
  }

  40% {
    padding: 1vmin 1vmin 1vmin 8vmin;
    font-size: 2vmin;
  }

  60% {
    padding: 1vmin 1vmin 1vmin 8vmin;
    font-size: 2vmin;
  }
  
  80% {
    padding: 1vmin 8vmin 1vmin 1vmin;
    font-size: 3.5vmin;
  }

  to {
    padding: 1vmin;
    font-size: 3vmin;
  }
}


.chat-leave {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  height: 5vmin;
  width: 6vmin;
  color: #eee;
  font-size: 3vmin;
  padding: 1vmin;
  
  background: var(--button-leave);
  border: solid .2vmin var(--button-leave);
  box-shadow: inset 0 0 0 inherit, inset 0 0 0 inherit;

  transition: all .3s ease;
}
.chat-leave:hover {
  color: #fff;
  background: rgba(100, 0, 0, .5);
  border-color: orangered;
  box-shadow: inset -.3vmin -.3vmin 1vmin rgba(255, 68, 0, .5), inset .3vmin .3vmin 1vmin rgba(255, 68, 0, .5);
  width: 12vmin;
  
  animation-duration: .6s;
  animation-name: animateLeave;
  animation-iteration-count: 1;
  animation-direction: alternate;
}

/* Chat styles */

.chat-main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  background: var(--messages-bg);
}

.chat-messages {
  flex-grow: 1;
  padding: 2vmin 2vmin 0 2vmin;
  overflow-y: auto;
}


/* Message Styles */

.message {
  margin-bottom: 16px;   
}

.message-name {
  font-weight: 600;
  font-size: 14px;
  margin-right: 8px;
}

.message-meta {
  color: #777;
  font-size: 14px;
}

.message a {
  color: #0070CC;
}


/* Message Composition Styles */

.compose {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5vmin 0 2.5vmin;
  height: 10vmin;
  background: var(--compose-bg);
}

.compose form {
  display: flex;
  max-height: 5.5vmin;
  width: 100%;
}

.compose input {
  font-size: 3.5vmin;
  width: 100%;
  border-radius: 8px;
  background: rgba(255, 255, 255, .7);
}

#message::placeholder {
  font-size: 2.5vmin;
  font-weight: 500;
}

.share-location {
  margin: 1vmin;
  background: inherit;
  padding: .5vmin;
  border-radius: 12px;
  background: inherit;
}

.share-location:hover {
  background: var(--button-share-hover);
}

.message-box {
  margin: .5vmin .8vmin;
}

.message-meta {
  margin: 0 1vmin;
}

.message-time {
  color: rgb(92, 92, 92);
  font-size: .8rem;
}

.message-sender {
  color: #4c88b9;
  font-size: .9rem;
  margin-left: 1.2vmin;
}

.message-location {
  color: var(--location);
  font-size: .9rem;
  margin-left: 8px;
}

.message-system {
  font-size: .8rem;
  font-style: italic;
  margin-left: 6px;
  color: lightslategray;
}

.message-welcome {
  font-size: .8rem;
  margin-left: 6px;
  color: var(--chat-welcome);
}

.message-error {
  margin: 0 .8vmin .5vmin .8vmin;
  color: var(--error-message);
  font-size: 2.2vmin;
  font-style: italic;
  /* font-weight: bold; */
  letter-spacing: .1em;
}


.chat-rooms {
  display: none;
  background: #444444;
  padding: 2px;
  overflow-y: auto;
}
.chat-room {
  display: flex;
  justify-content: center;
  color:rgb(55, 155, 255);
}
.chat-room:hover {
  cursor: pointer;
  color: #fff;
  background: rgb(0, 100, 200);
}
.room-name {
  padding: 4px;
}

.message-ballon {
  border-radius: 8px;
  color: #eee;
  background-color: rgba(0, 128, 200, .3);
  padding: 6px 8px;
}

.message-ballon-received {
  border-radius: 8px;
  color: #eee;
  background-color: rgba(0, 196, 200, .3);
  padding: 6px 8px;
}