* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --title-bg: #3a2a4a;
  --compose-bg: #3a2a4a;
  --messages-bg: #302040;
}

html {
  font-size: 3vmin;
}

body {
  line-height: 1.4;
  color: #333333;
  font-family: Helvetica, Arial, sans-serif;
}

input {
  font-size: 2.5vmin;
  border: .15vmin solid #eeeeee;
  padding: 1vmin 2vmin;
  outline: none;
}

h1 {
  margin-bottom: 16px;
  text-align: center;
}

label {
  display: block;
  font-size: 14px;
  margin-bottom: 8px;
  color: #055;
}

button {
  cursor: pointer;
  padding: 12px;
  background: rgb(64, 64, 152);
  border: none;
  color: white;
  font-size: 16px;
  transition: all .3s ease;
}

button:hover {
  background: rgb(76, 76, 164);
}

button:disabled {
  cursor: default;
  color: #99e;
  background: rgb(76, 76, 128);
}

ul {
  list-style-type: none;
}

/* form {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
} */

/* Join Page Styles */
.icon-location {
  height: 5vmin;
  width: 5vmin;
}

.centered-form {
  background: #333744;
  width: 100vw;
  height: 100vh;   
  display: flex;
  justify-content: center;
  align-items: center;
}

.message-form-box {
  box-shadow: 0px 0px 17px 1px #1D1F26;
  background: rgb(96, 155, 225);
  padding: 24px;
  width: 250px;
}

.centered-form button {
  width: 100%;
}

.centered-form input {
  margin-bottom: 16px;
  width: 100%;
}


/* Chat Page Layout */

.chat {
  display: flex;
}


/* Chat Sidebar Styles */

.chat-side {
  display: flex;
  flex-flow: column nowrap;
  flex-grow: 1;
  justify-content: space-between;
  height: 100vh;
  max-height: 100vh;
  color: white;
  background: #333744;
  max-width: 35vmin;
  user-select: none;
}

.chat-info {
}

.room-title {
  text-align: center;
  font-size: 3.5vmin;
  font-weight: 400;
  background: var(--title-bg);
  padding: 3vmin;
}

.list-box {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.list-title {
  text-align: center;
  font-size: 3vmin;
  font-weight: 500;
  padding: 2vmin 0;
  background-color: rgba(0, 0, 0, .1);
}

.users {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  height: 100%;

  padding: 2vmin 2vmin 0 3vmin;
  
  overflow-y: auto;
}

.user-list-item {
  font-size: 2.5vmin;
}

.chat-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2.5vmin;
  height: 15vmin;
  justify-content: center;
  background: rgba(0, 0, 0, .1);
}

.chat-control {
  display: flex;
  flex-grow: 1;
}

.chat-leave {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 5vmin;
  width: 6vmin;
  color: #eee;
  font-size: 3vmin;
  text-align: center;
  background: #3f2c4a;
  border: solid 2px #3f2c4a;
  box-shadow: none;
  transition: all .3s ease;
}
.chat-leave:hover {
  color: #fff;
  font-size: 2.1vmin;
  background: rgba(100, 0, 0, .5);
}

/* Chat styles */

.chat-main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  background: var(--messages-bg);
}

.chat-messages {
  flex-grow: 1;
  padding: 2vmin 2vmin 0 2vmin;
  overflow-y: auto;
}


/* Message Styles */

.message {
  margin-bottom: 16px;   
}

.message-name {
  font-weight: 600;
  font-size: 14px;
  margin-right: 8px;
}

.message-meta {
  color: #777;
  font-size: 14px;
}

.message a {
  color: #0070CC;
}


/* Message Composition Styles */

.compose {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 2.5vmin 0 2.5vmin 2.5vmin;
  height: 12vmin;
  background: var(--compose-bg);
}

.compose form {
  display: flex;
  width: 100%;
}

.compose input {
  font-size: 3.5vmin;
  width: 100%;
  border-radius: 8px;
  background: rgba(255, 255, 255, .8);
}

#message::placeholder {
  font-size: 3vmin;
}

.compose button {
  margin: 1vmin;
  background: inherit;
  padding: .5vmin;
  border-radius: 12px;
}
.compose button:hover {
  background: #443355;
}

.message-meta {
  margin: 0 1.2vmin;
}

.message-time {
  color: gray;
  font-size: .8rem;
}

.message-sender {
  color: #b094de;
  font-size: .9rem;
  margin-left: 1.2vmin;
}

.message-location {
  color: darkviolet;
  font-size: .9rem;
  margin-left: 8px;
}

.message-system {
  font-size: .8rem;
  font-style: italic;
  margin-left: 6px;
  color: lightslategray;
}

.message-welcome {
  font-size: .8rem;
  margin-left: 6px;
  color: slateblue;
}

.message-error {
  color: darkred;
  font-size: .85rem;
  font-style: italic;
  /* font-weight: bold; */
  letter-spacing: .1em;
}

.message-box {
  margin: 4px 2px;
}


.chat-rooms {
  display: none;
  background: #444444;
  padding: 2px;
  overflow-y: auto;
}
.chat-room {
  display: flex;
  justify-content: center;
  color:rgb(55, 155, 255);
}
.chat-room:hover {
  cursor: pointer;
  color: #fff;
  background: rgb(0, 100, 200);
}
.room-name {
  padding: 4px;
}

.message-ballon {
  border-radius: 8px;
  color: #eee;
  background-color: rgba(0, 128, 255, .3);
  padding: 6px 8px;
}

.message-ballon-received {
  border-radius: 8px;
  color: #eee;
  background-color: rgba(0, 196, 255, .3);
  padding: 6px 8px;
}